<div class="container">
  <h4 class="container-title">
    Build Your Feedback Form
  </h4>
  <h5 class="container-subtitle">
    Drag and drop components to create the Feedback Form for your Interviewers
  </h5>
  <div class="container-drag"
       cdkDropList
       (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let event of mutatedEvents; let i=index"
         class="container-drag-item"
         cdkDrag
         cdkDragBoundary=".container-drag"
         [class.draggable]="!isDragDisabled(i)"
         [cdkDragDisabled]="isDragDisabled(i)">
      <p [innerHTML]="event"></p>
    </div>

    <div *ngIf="isShowAdditionalItem"
         class="container-drag-item draggable"
         cdkDrag
         cdkDragBoundary=".container-drag">
      <p [innerHTML]="draggableTxt"></p>
    </div>
  </div>
</div>
